<div id="survey_display">

  <h2>All Surveys</h2>

  <% @surveys.each do |survey| %>
  <span id="survey">    </span>

      <% if current_user && !current_user.taken_surveys.include?(survey) %>
        <ul><li><a href="/survey/<%= survey.id %>" ><%= survey.name %></a></li></ul>
      <% else %>
        <ul><li><%= survey.name %></li></ul>
      <%end%>
  <%end%>

</div>
