<div id="survey_display">

<h3>Surveys</h3>
<% @surveys.each do |survey| %>
<span id="survey">
  <% if current_user && !current_user.taken_surveys.include?(survey) %>
    <a href="/survey/<%= survey.id %>" ><%= survey.name %></a>
  <% else %>
    <%= survey.name %>
  <%end%>
</span>

<%end%>
</div>
