<div id="sign_in">
  <h1>Sign in</h1>
  <form method="post" action="/sessions/new">
    <div class="username">
      <label>email</label></br>
      <input type="text" name="email">
    </div>
    <div class="password">
      <label>password</label></br>
      <input type="password" name="password">
    </div>
    <div class="submit">
      <input type="submit" value="Submit" class="submit_button">
    </div>
      <h2>or</h2>
      <div id="create">
        <a href="/user/new">Create Account</a>
      </div>
  </form>
</div>
