<h3>Create new survey</h3>

<form method="post" action="/survey/new">
  <label>survey name
    <input type="text" name="survey_name">
  </label>
  <div id="question">
    <input type="text" name="question[question]">
    <input type="text" name="question[choice]"
  </div>
</form>

