<h3>Create new survey</h3>

<form method="post" action="/survey/new">
  <label>survey name
    <input type="text" name="survey_name">
  </label>
  <label>image
    <input type="text" name="image">
  </label>
  <%= erb :"partials/_question" %>

  <a href="#" id="add_question">add question</a>
</form>

