<h3>Create new survey</h3>
<%#if @survey%>
  <%=@survey%>
<%#end%>

<form method="post" action="/survey/new" id="survey">
  <label>survey name
    <input type="text" name="survey_name">
  </label>
  <label>image
    <input type="text" name="image">
  <input type="submit" value="create survey">
  </label>
</form>
<div id="question">
<!--   <a href="#" id="create_question">create question</a> -->
</div>


