<h1>yo.</h1>
<div id="question">
  <form method="post" action='/quetions/new'
    <label id="question_field">question>
      <input type="text" name="question[question]">
    </label>
  <div id="choice">
    <label>choice
      <input type="text" name="question[choice]">
    </label>
  </div>
  <%= erb :"partials/_choice" %>
  </form>
</div>
