<div id="question">
  <label id="question_field">Question:
    <input type="text" name="question[0][question]">
  </label>
  <br>
  <%= erb :"partials/_choice" %>

  <a href="#" id="add_choice">Add Choice</a>
</div>
