<div id="questions">
  <div class="question">
    <div class="choices">
      <br><label id="question_field">question
        <input type="text" name="question[0]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][0]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][1]">
      </label>

    	<br><label>choice
        <input type="text" name="choice[0][2]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][3]">
      </label><br>
    </div>
    <a href="#" class="add_choice" qNum="0">add choice</a>
  </div>

  <div class="question">
    <div class="choices">
      <br><label id="question_field">question
        <input type="text" name="question[1]">
      </label>

      <br><label>choice
        <input type="text" name="choice[1][0]">
      </label>

      <br><label>choice
        <input type="text" name="choice[1][1]">
      </label>

      <br><label>choice
        <input type="text" name="choice[1][2]">
      </label>

      <br><label>choice
        <input type="text" name="choice[1][3]">
      </label><br>
    </div>
    <a href="#" class="add_choice" qNum="1">add choice</a>
  </div>

</div>

