<div id="question">
  <br><label id="question_field">question
    <input type="text" name="question[0]">
  </label>

  <br><label>choice
    <input type="text" name="choice[0][0]">
  </label>

  <br><label>choice
    <input type="text" name="choice[0][1]">
  </label>

  <br><label>choice
    <input type="text" name="choice[0][2]">
  </label>

  <br><label>choice
    <input type="text" name="choice[0][3]">
  </label><br>
</div>
