<div id="question">
  <br><label id="question_field">question
    <input type="text" name="question[0]">
  </label>

  <br><label>choice
    <input type="text" name="question[0][0]">
  </label>

  <br><label>choice
    <input type="text" name="question[0][1]">
  </label>

	<br><label>choice
    <input type="text" name="question[0][2]">
  </label>

  <br><label>choice
    <input type="text" name="question[0][3]">
  </label><br>
  <label id="question_field">Question:
    <input type="text" name="question[0][question]">
  </label>
  <br>
  <%= erb :"partials/_choice" %>

  <a href="#" id="add_choice">Add Choice</a>
</div>
