<div id="question">
  <label id="question_field">question
    <input type="text" name="question[0][question]">
  </label>

  <%= erb :"partials/_choice" %>

  <a href="#" id="add_choice">add choice</a>
</div>
