<div id="questions">
  <div class="question">
    <div class="question_and_choices">
      <br><label id="question_field">question
        <input type="text" name="question[0]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][0]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][1]">
      </label>

    	<br><label>choice
        <input type="text" name="choice[0][2]">
      </label>

      <br><label>choice
        <input type="text" name="choice[0][3]">
      </label><br>
    </div>

    <div class="add_choice"><a href="#" qNum=0>add choice</a></div>
  </div>
</div>




<!-- '<div class=\"question\"><div class=\"question_and_choices\"><br><label id=\"question_field\">question <input type=\"text\" name=\"question[0]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][0]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][1]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][2]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][3]\"></label><br></div><div class=\"add_choice\"><a href=\"#\" qNum=0>add choice</a></div></div>' -->

<!-- '<div class=\"question\"><div class=\"question_and_choices\"><br><label id=\"question_field\">question <input type=\"text\" name=\"question[0]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][0]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][1]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][2]\"></label><br><label>choice <input type=\"text\" name=\"choice[' + question_number + '][3]\"></label><br></div><div class=\"add_choice\"><a href=\"#\" qNum=0>add choice</a></div></div>'
 -->
