<div id="create_account">
  <h1>Create account</h1>
  <form method="post" action="/users/new">
    <div class="name">
      <label>Name: </label></br>
      <input type="text" name="user[name]">
    </div>
    <div class="email">
      <label>Email: </label></br>
      <input type="text" name="user[email]">
    </div>
    <div class="password"
      <label>Password: </label></br>
      <input type="password" name="user[password]">
    </div>
    <div class="submit">
      <input type="submit" value="Create" class="submit_button">
    </div>
  </form>
</div>

